.gig-board-menu {
    text-align: center;
    margin: 20px;
}

.gig-button {
    background-color: orange;
    color: white;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
}

.gig-button:hover {
    background-color: #ff8800;
}
